:root{
    --text-color:#ffffff;
    --background-color:#005eb8;
    --accent-color:rgb(255, 0, 0);
}

body{
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color:white;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#005eb8;
    padding:8px 12px;
}

.navbar__logo{
    padding-top: 0px;
    color:white;
}


.navbar__menu{
    display:flex;
    list-style: none;
    align-items: center;
    padding-left : 0px;
}


.navbar__menu li{
    padding:8px 12px; 
}

.navbar__menu :hover{
    background:#d49466 ;
    border-radius: 4px;
}


.navbar__toggleBtn{
    display:none;
    position: absolute;
    right:32px;
    font-size: 24px;
    color: #d49466;

}
/* 반응형 웹: 미디어 쿼리 */

@media screen and (max-width : 768px){  
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu{
        display:none;
        flex-direction:column;
        align-items:center;
        width:100%;
    }

    .navbar__menu li{
        width:100%;
        text-align:center;
    }

    .navbar__icons{
        display: none;
        justify-content: center;
        width:100%;
    }

    .navbar__toggleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active{
        display :flex;
    }

}

#select-box {min-width:320px; max-width:30%; width:100%; margin:0 auto; padding:2em; text-align:center;} 
#mypage {text-align: center;}
table.table {margin-left: auto; margin-right: auto;}


/* board_list css */
.board_list{
    width:100%;
    border-top:2px solid #000;
}

.board_list > div{
    border-bottom: 1px solid #999;
    font-size:0;

}

.board_list > a{
    text-decoration: none;
    color:white;
}

.board_list >div{
    border-bottom:1px solid #999;
}

.board_list >div:last-child{
    border-bottom:1px solid #000;
}

.board_list> div > div{
    display:inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list div.top >div {
    font-weight :600;
}

.board_list .num{
    width:10%
}

.board_list .title{
    width:60%;
    text-align: left;
}

.board_list .top .title{
    text-align: center;
}

.board_list .writer{
    width:10%
}

.board_list .date{
    width:10%
}

.board_list .view{
    width:10%
}


/* board view page */
.board_view{

    font-size: 10px;
    width:100%;
    border-top:2px solid #000;

}

.board_view .title{
    padding: 20px 15px;
    border-bottom : 1px dashed #ddd;
    font-size :2rem;
}

.board_view .info{
    padding:15px;
    border-bottom:1px solid #999;
    font-size: 0;
}

.board_view .info dl{
    position: relative;
    display:inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child{
    padding-left: 0;
}

.board_view .info dl::before{
    content:"";
    position: absolute;
    top:1px;
    left:0;
    display:block;
    width : 1px;
    height:13px;
    background: #ddd;
}

.board_view .info dl:first-child::before{
    display :none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}


.board_view .info dl dd{
    margin-left:10px;
    color:#777;
}

.board_view .cont{
    padding:15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size : 1.4rem; 
}


/* 버튼 */
.bt_wrap{
    margin-top:30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    margin-left:10px;
    padding: 10px;
    border:1px solid #000;
    border-radius:2px;
    font-size: 1.4rem;
}


.bt_wrap a:first-child{
    margin-left:0;
}

.bt_wrap a.on{
    background:#000;
    color:#fff;
}


/*글쓰기(&수정 페이지)*/
.board_write{
    border-top:2px solid #000;
}

.board_write .title,
.board_write .info{
    padding:15px;
}

.board_write .title dl{
    font-size: 0;
}


.board_write .info{
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
font-size:0;
}


.board_write .info dl{
    display: inline-block;
    width:50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd{
    display:inline-block;
    vertical-align: middle;
    font-size:1.4rem;
}

.board_write .title dt,
.board_write .info dt{
    width: 100px;
}

.board_write .title dd{
    width:calc(100%-100px);
}


.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"]{
    padding : 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"]{
    width:100%;
}



.board_write .cont{
    border-bottom:1px solid #000;

}

.board_write .cont textarea{
    display: block;
    width:100%;
    height:300px;
    padding:15px;
    box-sizing:border-box;
    border:0;
    resize:vertical;
}


/* 게시판 미디어 쿼리 */

@media(max-width:1000px){
    .board_wrap{
        width:100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing:border-box;
    }



    .board_list .writer,
    .board_list .view{
        display:none;
    }

    .board_list .date{
        width:40%
    }

    .board_list .top .title{
        text-indent: 0;
    }



}