<!DOCTYPE html>

<head>
  <title>로그인</title>
  <link rel="stylesheet" href="../css/login.css">
  <script defer src="../login.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit">
    </form>

    <div>
        <span> No account?
            <a href="../templates/register.html" class="register-link">Register</a>
        </span>
    </div>
  
  </main>
</body>

</html>