<!DOCTYPE html>

<html id="mypage">
<head>
    <title>마이페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <!-- 로고 삽입하기 -->
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="두산 애너빌리티"> 
        </div>


        <ul class="navbar__menu">
            <li><a href="/">Home</a></li>
            <li><a href="/mypage">마이페이지</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/board">게시판</a></li>
        </ul>
        
        <ul class="navbar__icons"> 
            <img src="{{ url_for('static', filename='img/logo-kr-w.png') }}" alt="두산애너빌리티">

        </ul>

        <a href="/#" class="navbar__toggleBtn">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </a>
    </nav>

    <h1>마이페이지</h1>

    <table class="table">
        <tr>
            <td>아이디</td>
            <td>parkzb3ast</td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td>이름</td>
            <td>홍길동</td>
        </tr>
        <tr>
            <td>연령</td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td>성별</td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td>최종학력</td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td>청력</td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td>시력</td>
            <td><input type="text" value=""></td>
        </tr>
        <tr>
            <td>체중</td>
            <td><input type="text" value=""></td>
        </tr>       
    </table>

    <button type="button" id="수정완료">수정완료</button>
</body>
</html>