<!DOCTYPE html>

<head>
  <title>회원가입</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">회원가입</h1>
    
    
    <form id="login-form">
      <input type="text" name="이름" id="name-field" class="login-form-field" placeholder="이름">
      <input type="text" name="아이디" id="username-field" class="login-form-field" placeholder="아이디">
      <input type="password" name="비밀번호" id="password-field" class="login-form-field" placeholder="비밀번호">
    </br></br></br>
      <input type="text" name="연령" id="name-field" class="login-form-field" placeholder="연령">  
      <input type="text" name="성별" id="name-field" class="login-form-field" placeholder="성별"> 
      <input type="text" name="최종학력" id="name-field" class="login-form-field" placeholder="최종학력"> 
      <input type="text" name="청력" id="name-field" class="login-form-field" placeholder="청력"> 
      <input type="text" name="시력" id="name-field" class="login-form-field" placeholder="시력"> 
      <input type="text" name="체중" id="name-field" class="login-form-field" placeholder="체중"> 
      <input type="submit" value="회원가입" id="login-form-submit">
    </form>

  
  </main>
</body>

</html>