<!DOCTYPE html>

<head>
  <title>회원가입</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">회원가입</h1>
    
    
    <form id="login-form">
      <input type="text" name="이름" id="name-field" class="login-form-field" placeholder="Enter your name">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="비밀번호" id="password-field" class="login-form-field" placeholder="Password">      
      <input type="submit" value="회원가입" id="login-form-submit">
    </form>

  
  </main>
</body>

</html>