<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>두산에너빌리티 안전 예측</title>
    <script src="https://kit.fontawesome.com/74d22fe6db.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src={{ url_for('static', filename='main.js')}} defer></script>
</head>

<body>
    <nav class="navbar">
      <div class="navbar__logo">
        <img src="{{ url_for('static', filename='img/logo-kr-w.png') }}" alt="두산애너빌리티">
      </div>
          <ul class="navbar__menu">
            {% if current_user.is_authenticated %}
              {% if current_user.auth == "관리자" %}
              <li><a>{{ current_user.name }}님</a></li>
              <li><a href="/logout">로그아웃</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/mypage">마이페이지</a></li>
              <li><a href="/board">게시판</a></li>
              <li><a href="/admin">관리자</a></li>
              {% else %}
              <li><a>{{ current_user.name }}님</a></li>
              <li><a href="/logout">로그아웃</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/mypage">마이페이지</a></li>
              <li><a href="/board">게시판</a></li>
              {% endif %}
            {% else %}
            <li><a href="/">Home</a></li>
            <li><a href="/mypage">마이페이지</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/board">게시판</a></li>
            {% endif%}
          </ul>
        


        <a href="/#" class="navbar__toggleBtn">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} {% for category, message in messages %} 
    {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %} 
    {% endfor %} 
    {% endif %} 
    {% endwith %}
    
    <div class="container">{% block content %} {% endblock %}</div>
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>
</body>
</html>