{% extends "base2.html" %} 

{% block body_block %}
</br>
<h3>게시판</h3>
</br>
{% for i in range(1, 20)%}
      <div>
        
      <a href="http://127.0.0.1:5000/posts/{{i}}"> {{i}}번글 </a>
      <div>
      

{% endfor %}


  <table border="1">
    <thead>
      <tr>
          <th>id</th>
          <th>title</th>
          <th>content</th>
          <th>created_at</th>
      </tr>
    </thead>
      {% for row in rows %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
          </tr>
      {% endfor %}
  </table>

{% endblock %}  