{% extends "base2.html" %} 

{% block body_block %}
</br>
<h3>게시판</h3>
</br>






<!-- 게시글 인덱싱 (번호 , 제목, 글쓴이, 작성일, 조회) -->
<div class="board_list_wrap">
  <div class="board_list">
      <div class="top">
          <div class="num">번호</div>
          <div class="title">글 보기</div>
      </div>


      <!-- 리스트  -->


      {% for i in range(21,0,-1)%}
      <div>
          <div class="num">{{i}}</div>
          <div><a href="http://127.0.0.1:5000/posts/{{i}}">{{i}}번 글입니다. </a></div>
          <div class="date"></div>
      </div>

      {% endfor %}
      

<!--
  <table border="1">
    <thead>
      <tr>
          <th>id</th>
          <th>title</th>
          <th>content</th>
          <th>created_at</th>
      </tr>
    </thead>
      {% for row in rows %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
          </tr>
      {% endfor %}
  </table>

-->

{% endblock %}  