{% extends 'base2.html' %} 
{% block body_block %}

    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">
                제목: {{post.title}}
            </div>
            <div class="info">
                <dl>
                    <dt>번호</dt>
                    <dd>{{post.id}}</dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd>{{post.created_at}}</dd>
                </dl>
            </div>
            <div class="cont">
                {{post.content}}
            </div>
        </div>

        <div class="bt_wrap">
            <a href="/posts/{{post.id}}/delete">삭제</a>
            <a href="/posts/{{post.id}}/edit">수정</a>

        </div>
    </div>
    <br>
    <br>
    <form action="/posts/{{post.id}}/comments" method='POST'>
    </br> <div style="padding:3px; font-style:bold"> <댓글 작성></div></br>
        이름 : <input type="text" name="creator" /></br>
        내용 :   <input type="text" name="content"/>
        <input type='submit'/>
    </form>
    {% for comment in post.comments %}
    <hr>
        <p style="padding:1px">내용: {{comment.content}} </p>
        <p style="padding:1px">이름: {{comment.creator}}</p>
        <p>작성일: {{comment.created_at}}</p>
        <a style="display:block;" href="/comment/{{comment.id}}/delete">댓글삭제</a>
        <br>
        
    {% endfor %}
</br></br></br></br>

{% endblock %} 