{% extends "base.html" %} {% block content%}

<form method="POST">
</br>
    <h2 align="center">오늘 나의 정보 입력</h2>
</br>
    <div class="form-group">
      <label for="drink">음주 정도</label>
        <select name="drink" id="drink" class="form-control">
          <option value="" disabled selected></option>
            <option value="주 4회 이상">주 4회 이상</option>
            <option value="주 2~3회">주 2~3회</option>
            <option value="월 2~4회">월 2~4회</option>
            <option value="월 1회 이하">월 1회 이하</option>
            <option value="전혀 안마심">전혀 안마심</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sleephour">수면 시간</label>
        <select name="sleephour" id="sleephour" class="form-control">
          <option value="" disabled selected></option>
            <option value="7시간 이상">7시간 이상</option>
            <option value="6시간 이상 7시간 미만">6시간 이상 7시간 미만</option>
            <option value="5시간 이상 6시간 미만">5시간 이상 6시간 미만</option>
            <option value="5시간 미만">5시간 미만</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sleepqual">수면의 질</label>
        <select name="sleepqual" id="sleepqual" class="form-control">
          <option value="" disabled selected></option>
            <option value="높음">높음</option>
            <option value="보통">보통</option>
            <option value="낮음">낮음</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tired">피로도</label>
        <select name="tired" id="tired" class="form-control">
          <option value="" disabled selected></option>
            <option value="심각한 피로">심각한 피로</option>
            <option value="중등도의 피로">중등도의 피로</option>
            <option value="경미한 피로">경미한 피로</option>
            <option value="피로 거의 없음">피로 거의 없음</option>
        </select>
    </div>
    <div class="form-group">
        <label for="anxiety">불안감</label>
        <select name="anxiety" id="anxiety" class="form-control">
          <option value="" disabled selected></option>
            <option value="높음">높음</option>
            <option value="보통">보통</option>
            <option value="낮음">낮음</option>
        </select>
    </div>
    <div class="form-group">
        <label for="gloom">우울감</label>
        <select name="gloom" id="gloom" class="form-control">
        <option value="" disabled selected></option>
            <option value="높음">높음</option>
            <option value="보통">보통</option>
            <option value="낮음">낮음</option>
        </select>
    </div>
  </br></br>
      <button type="submit" class="btn btn-primary">제출</button>
</form>
    
{% endblock %}
