{% extends "base.html" %} {% block content %}

<form method="POST">
  <h2 align="center">로그인</h2>
  <div class="form-group">
    <label for="email">이메일</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="이메일"
    />
  </div>
  <div class="form-group">
    <label for="password">비밀번호</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="비밀번호"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">로그인</button>

</br></br></br>

  <div>
    <span> 계정이 없으신가요?
        <a href="/register" class="register-link">회원가입</a>
    </span>
</div>

{% endblock %}
