{% extends "base.html" %} {% block content %}

<h1>마이페이지</h1>

<table class="table">
    <tr>
        <td>아이디</td>
        <td></td>
    </tr>
    <tr>
        <td>비밀번호</td>
        <td><input type="text" value=""></td>
    </tr>
    <tr>
        <td>이름</td>
        <td></td>
    </tr>
    <tr>
        <td>연령</td>
        <td><input type="text" value=""></td>
    </tr>
    <tr>
        <td>성별</td>
        <td><input type="text" value=""></td>
    </tr>
    <tr>
        <td>최종학력</td>
        <td><input type="text" value=""></td>
    </tr>
    <tr>
        <td>청력</td>
        <td><input type="text" value=""></td>
    </tr>
    <tr>
        <td>시력</td>
        <td><input type="text" value=""></td>
    </tr>
    <tr>
        <td>체중</td>
        <td><input type="text" value=""></td>
    </tr>       
</table>

<button type="submit" id="수정완료">수정완료</button>


{% endblock %}